# variable

In [1]:
 a = 34    #variable = value
print(a)

34

In [2]:
s = 'saloni'
print(s)

saloni

In [4]:
w = 10
q = 20
add = w + q
print(add)

30

In [5]:
d = 37   #initial value
print(d)

37

In [6]:
d = 46   #changing value
print(d)

46

In [9]:
first_name ='saloni '    #concatination variable
last_name ='suryawanshi'
full_name = first_name + "" +last_name
print (full_name)

saloni suryawanshi

In [10]:
l = 20  #calculate the values 
b =30
a = l * b
print(a)

600

# datatype

In [4]:
 i =(12,24,36,48,60)    # integer datatype
print(i)

(12, 24, 36, 48, 60)

In [2]:
f = (78.54,90.56,45.34,23.67)    #float datatype
print(f)

(78.54, 90.56, 45.34, 23.67)

In [3]:
b = ('True','False')     #float datatype
print(b)

('True', 'False')

In [5]:
s = ('ram','sita','laxman','bharat')     #string datatype
print(s)

('ram', 'sita', 'laxman', 'bharat')