# tuple creation

In [1]:
tup1 = ()    #empty tuple

In [2]:
tup2 = (10,20,30)    #integer tuple
tup2

(10, 20, 30)

In [3]:
tup3 = (12.34,78.35,86.84,90.34)     #float tuple
tup3

(12.34, 78.35, 86.84, 90.34)

In [4]:
tup4 = ('ram','sita','laxman','surphanakha')     #string tuple
tup4

('ram', 'sita', 'laxman', 'surphanakha')

In [5]:
tup5 = (34,56,56.46,82.56,'kanta','shanta')     #mix datatype tuple
tup5

(34, 56, 56.46, 82.56, 'kanta', 'shanta')

In [6]:
tup6 = (45,37,9282,[638,34,82,90],[56,829,94])   #nested integer
tup6

(45, 37, 9282, [638, 34, 82, 90], [56, 829, 94])

In [7]:
tup7 = (32.67,98.24,[84.48,92.46],[43.67,89.89])    #nested float
tup7

(32.67, 98.24, [84.48, 92.46], [43.67, 89.89])

In [8]:
tup8 = ('radha',['sakshi','minakshi'],['maya','jaya'])   #nested string
tup8

('radha', ['sakshi', 'minakshi'], ['maya', 'jaya'])

In [10]:
tup9 = (45,98.87,72,'ranchi',[23,65.78,'sanchi'],[47,93.78,'kanchi'])      #nested mixed dataype tuple     
tup9

(45, 98.87, 72, 'ranchi', [23, 65.78, 'sanchi'], [47, 93.78, 'kanchi'])

In [11]:
len(tup9)        #length of tuple

6

In [12]:
len(tup8)

3

# tuple indexing

In [14]:
tup3

(12.34, 78.35, 86.84, 90.34)

In [16]:
tup3 [0]    #retreive first element

12.34

In [17]:
tup3 [2]     #retreive second index element

86.84

In [18]:
tup3 [-1]    #reteive last element

90.34

In [24]:
tup8

('radha', ['sakshi', 'minakshi'], ['maya', 'jaya'])

In [25]:
tup8 [0][1]     #nested indexing     access the second element of the tuple

'a'

In [26]:
tup6

(45, 37, 9282, [638, 34, 82, 90], [56, 829, 94])

In [27]:
tup6 [3][1]       #access first third index ---then access the first index from third index

34

In [28]:
tup6 [-1]     #access the last item

[56, 829, 94]

# tuple slicing

In [ ]:
# [left:right]  left--- start from     right---- end in n-1 index

In [29]:
mytuple = ('krishn','arjun','karn','bheem','draupadi','yudhishdter','nakul','sahdev','shakuni','duryodhan','dushashan')
mytuple

('krishn',
 'arjun',
 'karn',
 'bheem',
 'draupadi',
 'yudhishdter',
 'nakul',
 'sahdev',
 'shakuni',
 'duryodhan',
 'dushashan')

In [30]:
mytuple [0:]   #return all item

('krishn',
 'arjun',
 'karn',
 'bheem',
 'draupadi',
 'yudhishdter',
 'nakul',
 'sahdev',
 'shakuni',
 'duryodhan',
 'dushashan')

In [32]:
mytuple [0:4]  #'''return item from 0th index to 3rd index   4th index is not printed   (n-1)=(4-1)=3

('krishn', 'arjun', 'karn', 'bheem')

In [33]:
mytuple [2:5]    #return item from 2nd index to n-1 4th index

('karn', 'bheem', 'draupadi')

In [34]:
mytuple [ :7] #return 1st seven item

('krishn', 'arjun', 'karn', 'bheem', 'draupadi', 'yudhishdter', 'nakul')

In [35]:
mytuple [-5:]  #return last 5 item

('nakul', 'sahdev', 'shakuni', 'duryodhan', 'dushashan')

In [36]:
mytuple [-1]  #return last items

'dushashan'

In [37]:
mytuple [:] #return whole items

('krishn',
 'arjun',
 'karn',
 'bheem',
 'draupadi',
 'yudhishdter',
 'nakul',
 'sahdev',
 'shakuni',
 'duryodhan',
 'dushashan')

# remove & change items

In [38]:
mytuple

('krishn',
 'arjun',
 'karn',
 'bheem',
 'draupadi',
 'yudhishdter',
 'nakul',
 'sahdev',
 'shakuni',
 'duryodhan',
 'dushashan')

In [39]:
del mytuple[6] #we cant delete becuz it is immutable

TypeError: 'tuple' object doesn't support item deletion

In [40]:
mytuple [6]='radha'   # cant change item

TypeError: 'tuple' object does not support item assignment

In [42]:
del mytuple   #whole tuple is deleted

# loop through tuple

In [46]:
mytuple =('one','two','three','four','five','six','seven')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [47]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven

In [48]:
for i in enumerate(mytuple):    #show the index number and value in it
    print (i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')

# tuple membership

In [50]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [52]:
'five' in mytuple  #check 'one' exist or not

True

In [53]:
'eleven' in mytuple

False

In [54]:
if 'two' in mytuple:      # check if 'two' is present or not
    print('two is present in tuple')
else:
    print('two is not present in tuple')

two is present in tuple

In [55]:
if 'eighteen' in mytuple:
    print('eighteen is present in tuple')
else:
    print('eighteen is not persent in tuple')

eighteen is not persent in tuple

# index position

In [56]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [58]:
mytuple.index('three') # show index of three

2

In [59]:
mytuple.index('seven')

6

In [61]:
mytuplee =('one','four','one','two','three','four')
mytuplee

('one', 'four', 'one', 'two', 'three', 'four')

In [62]:
mytuplee.index('one')

0

In [63]:
mytuplee.index('four')   # index of first element equal to 'four'

1

# sorting

In [67]:
mytuple1 = (43,98,13,27,98,34,62,98,78)
mytuple1

(43, 98, 13, 27, 98, 34, 62, 98, 78)

In [69]:
sorted(mytuple1) # sort the tuple , dosen't change tuple  ---ascending order

[13, 27, 34, 43, 62, 78, 98, 98, 98]

In [72]:
sorted(mytuple1,reverse=True)   #sort in descending order

[98, 98, 98, 78, 62, 43, 34, 27, 13]

In [73]:
mytuple2 = (45,9,78,24,49,57,92,47,28,44,87)
mytuple2

(45, 9, 78, 24, 49, 57, 92, 47, 28, 44, 87)

In [74]:
sorted(mytuple2)

[9, 24, 28, 44, 45, 47, 49, 57, 78, 87, 92]

In [75]:
sorted(mytuple2,reverse=True)

[92, 87, 78, 57, 49, 47, 45, 44, 28, 24, 9]

In [76]:
mytupleee = (0,53,67,83,98,14,73,86)
mytupleee

(0, 53, 67, 83, 98, 14, 73, 86)